<% provide(:title, @course.course_number) %>


<h1>Students----<%= @course.course_number %></h1>
    
    <ul class="courses">
      <% @enrollments.each do |enrollments| %>
        <% @student = Student.find_by(email: enrollments.student_email) %>
        <%if @student %>
        <li>

          Student: <%= @student.name %>-----
          <%if enrollments.grade == nil %>
             no grade 
          <% else %>
            grade: <%= enrollments.grade %>
          <% end %>
          <%if @course.status == "Active" %>
          | <%= link_to "grade", grade_path(enrollment_id: enrollments.id) %>
          | <%= link_to "remove", remove_student_path(enrollment_id: enrollments.id) ,method: :delete, data: { confirm: "You sure?" }%>
          <% end %>
        </li>
        <% end %>
      <% end %>
    </ul>
    
